
.class1 h1{
    font-size: 50px;
}
.class1 p{
   font-size: 30px;  
}
.class1 p1{
    background-color: aquamarine;
    font-size: 15px;
}

#id1 h2{
    font-size: 50px;
}
#id1 p{
   font-size: 30px;
   background-color: antiquewhite;
}
#id1 p1{
background-color: aqua;
font-size: 15px;
}
